@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap");

:root {
  --bg-color: hsl(47, 88%, 63%);
  --box-shadow: 10px 10px 0px hsl(0, 0%, 7%);
  --gray: hsl(0, 0%, 50%);
  --white: hsl(255, 255%, 255%);
  --black: hsl(0, 0%, 0%);
  --figree-font: "Figtree", sans-serif;
}

body {
  font-family: var(--figree-font);
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width <= 480px) {
  body {
    min-width: 440px;
  }
}
