:root {
  --bg-color: hsl(47, 88%, 63%);
  --box-shadow: 10px 10px 0px hsl(0, 0%, 7%);
  --gray: hsl(0, 0%, 50%);
  --white: hsl(255, 255%, 255%);
  --black: hsl(0, 0%, 0%);
  --figree-font: "Figtree", sans-serif;
}

* {
  font-family: var(--figree-font);
}

body {
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
